<div class="field__wrap">
  <div class="field__inner">
    <div class="form__wrap">

    <h2 class="form__ttl">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :name, class: 'field__label' %> <br />
        <%= f.text_field :name, class: 'field__input' %>
      </div>

      <div class="field">
        <%= f.label :email, class: 'field__label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'field__input' %>
      </div>

      <div class="field">
        <%= f.label :password, class: 'field__label' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'field__input' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: 'field__label' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'field__input' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
